{% extends 'base/blog.html' %}
{% block content %}
</div>
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ post.title }}</h1>
            <span class="subheading">{{ post.published_date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content -->
    <div class="row">
         <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ post.text|linebreaksbr }}
              <hr>

            <button type="button" class="btn btn-danger" style="float:right"<a href="{% url 'post_delete' pk=post.pk %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></button>
        </div>
    </div>

{% endblock %}